.details {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 6rem;
}

.details > h2 {
    font-size: 2.5rem;
    margin-top: 3rem;
    color:  #F8F0E3;
    text-shadow: 0 2px 2px #434343;
    background-color: #60DBD3;
    border-radius: 2rem;
    width: 22rem;
    padding: .5rem;
    text-align: center;
    box-shadow: 0 2rem 2rem rgba(0,0,0,.75);
}
 
.html {
    margin: 2rem 4rem;
    line-height: .5rem;
    text-align: center;
}

.card {
    height: auto;
    width: 70%;
    overflow: hidden;
    position: relative;
    border: double 1.5rem transparent;
    border-radius: 3rem;
    background-image: linear-gradient(white, rgb(209, 209, 209)), 
                      repeating-radial-gradient(
                      rgb(188, 186, 186) 0%,
                      rgb(244, 244, 239) 15%,
                      rgb(92, 91, 91) 50%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 2rem 2rem rgba(0,0,0,.75);
    transition: .3s;
    margin: 0 auto 6rem auto;
  }

  @media screen and (max-width: 770px) {
    .details {
      display: grid;
      grid-template-columns: 1fr;
      margin: 2rem auto;
      justify-items: center;
    }
  
    .details > h2 {
      font-size: 2.25rem;
      width: 20rem;
    }

    .card {
      height: auto;
      width: 70%;
      margin: 1rem auto 2rem auto;
    }
    .card > h3 { 
     width: 8rem;
     font-size: 1rem;
    }
    .html {
      margin: 2rem 6rem;
    }
  }

  @media screen and (max-width: 570px) {
    .details > h2 {
      font-size: 2rem;
      width: 18rem;
    }
    .card {
        height: auto;
        width: 70%;
        margin: 1rem auto 2rem auto;
      }
      .html {
        margin: 2rem 6rem;
      }
  }

  @media screen and (max-width: 480px) {
    .details > h2 {
      width: 12rem;
      font-size: 1.5rem;
      margin: 1rem auto;
    }
    .html {
      margin: 1rem 4rem;
    }
    .card {
      width: 70%;
      height: auto;
      margin: 1rem auto 2rem auto;
    } 
  }